<link rel="stylesheet" href="/css/receitas.css">
<link rel="shortcut icon" href="img/favicon-32x32.png" type="image/x-icon">
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
/>

<nav class="cabecalho">
        <header class="menu-horizontal">
            <ul class="menu-lista">
                <li class="item-lista">
                     <a href="../home"><img src="/img/Logo Colorido.png" alt="" class="logo"></a>
                </li>
                <li class="item-lista">
                    <a href="../home" class="item-linha">Sobré nós</a>
                </li>
                <li class="item-lista">
                    <div class="buscar-menu">
                        <input type="search-text" placeholder="Buscar" class="buscar">
                        <a href="#" class="buscar-botao"><i class="fa-solid fa-magnifying-glass"
                                style="color: #3ab72a;"></i></a>
                    </div>
                </li>
                <li class="item-lista">
                    <a href="../login" class="item-linha">Login</a>
                </li>
                <li class="item-lista">
                    <a href="../register" class="item-linha">Cadastro</a>
                </li>
            </ul>
        </header>
    </nav>
    <!--parte do menu lateral, onde tem o link para as receitas-->
    <div class="container">
        <div class="hamburger">
            <div class="line" id="line1"></div>
            <div class="line" id="line2"></div>
            <div class="line" id="line3"></div>
        </div>

        <aside class="sidebar">
            <nav class="menu-lateral">
                <hr class="linha-menu">
                <p class="texto-receitas">Receitas</p>
                <hr>
                <ul class="segundo-menu">
                    <li class="menu-item"><i class="fa-solid fa-apple-whole" style="color: #ae2819;" class="maca"></i><a
                            href="#" class="menu-link">Doces e sobremesas</a></li>
                    <li class="menu-item"><i class="fa-solid fa-apple-whole" style="color: #ae2819;" class="maca"></i><a
                            href="#" class="menu-link">Salgado</a></li>
                    <li class="menu-item"><i class="fa-solid fa-apple-whole" style="color: #ae2819;" class="maca"></i><a
                            href="#" class="menu-link">Lanches</a></li>
                    <li class="menu-item"><i class="fa-solid fa-apple-whole" style="color: #ae2819;" class="maca"></i><a
                            href="#" class="menu-link">Bebidas</a></li>
                    <li class="menu-item"><i class="fa-solid fa-apple-whole" style="color: #ae2819;" class="maca"></i><a
                            href="#" class="menu-link">Massas</a></li>
                    <li class="menu-item"><i class="fa-solid fa-apple-whole" style="color: #ae2819;" class="maca"></i><a
                            href="#" class="menu-link">Almoço</a></li>
                    <li class="menu-item"><i class="fa-solid fa-apple-whole" style="color: #ae2819;" class="maca"></i><a
                            href="#" class="menu-link">Café da manhã</a></li>
                    <li class="menu-item"><i class="fa-solid fa-apple-whole" style="color: #ae2819;" class="maca"></i><a
                            href="#" class="menu-link">Sopas e caldos</a></li>
                    <li class="menu-item"><i class="fa-solid fa-apple-whole" style="color: #ae2819;" class="maca"></i><a
                            href="#" class="menu-link">Ver todas as receitas</a></li>
                </ul>
            </nav>
        </aside>

        <section class="titulo-segunda">
            <h1 class="titulo-receitas">Receitas</h1>
            <div class="caixas-receitas">
                <div class="img-receitas">
                    <a href="#">
                        <img src="/img/image 1.png" alt="" class="img-comidas">
                        <p class="receitas-nome">Torta de frango</p>
                    </a>
                </div>
                <div class="img-receitas">
                    <a href="#">
                        <img src="/img/image 2.png" alt="" class="img-comidas">
                        <p class="receitas-nome">Berinjela recheada</p>
                    </a>
                </div>
                <div class="img-receitas">
                    <a href="#">
                        <img src="/img/image 3.png" alt="" class="img-comidas">
                        <p class="receitas-nome">Lasanha</p>
                    </a>
                </div>
                <div class="img-receitas">
                    <a href="../receita">
                        <img src="/img/image 4.png" alt="" class="img-comidas">
                        <p class="receitas-nome">Mousse de chocolate</p>
                    </a>
                </div>
                <div class="img-receitas">
                    <a href="#">
                        <img src="/img/image 5.png" alt="" class="img-comidas">
                        <p class="receitas-nome">Cookie</p>
                    </a>
                </div>
                <div class="img-receitas">
                    <a href="#">
                        <img src="/img/image 6.png" alt="" class="img-comidas">
                        <p class="receitas-nome">Mexido de ovo</p>
                    </a>
                </div>
            </div>
        </section>


    <script src="https://kit.fontawesome.com/d00c321405.js" crossorigin="anonymous"></script>
        <script src="/js/home.js" defer></script>