<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
<link rel="shortcut icon" href="img/favicon-32x32.png" type="image/x-icon">
<link rel="stylesheet" href="/css/Receitas/receita01.css">
<nav class="cabecalho">
        <header class="menu-horizontal">
            <ul class="menu-lista">
                <li class="item-lista">
                    <a href="./home"><img src="/img/Logo Colorido.png" alt="" class="logo"></a>
                </li>
                <li class="item-lista">
                    <a href="./home" class="item-linha">Sobré nós</a>
                </li>
                <li class="item-lista">
                    <div class="buscar-menu">
                        <input type="search-text" placeholder="Buscar" class="buscar">
                        <a href="#" class="buscar-botao"><i class="fa-solid fa-magnifying-glass"
                                style="color: #3ab72a;"></i></a>
                    </div>
                </li>
                <li class="item-lista">
                    <a href="./login" class="item-linha">Login</a>
                </li>
                <li class="item-lista">
                    <a href="./register" class="item-linha">Cadastro</a>
                </li>
            </ul>
        </header>
    </nav>


        <section class="primeira-receita">
            <div class="parte1">
                <a href="#">
                    <p class="icon1"><i class="fa-regular fa-heart fa-xl" style="color: #245b06;"></i>favoritar</p>
                </a>
                <a href="#">
                    <p class="icon2"><i class="fa-solid fa-share-nodes fa-xl" style="color: #245b06;"></i>compartilhar</p>
                </a>
            </div>
            <div class="quadrado">
                <h1 class="receita-titulo">Mousse de <br>chocolate</h1>
                <img src="/img/n4.png" alt="">
            </div>
            <div class="caixa">
                <img src="/img/image 4.png" alt="">
                <div class="ingredientes">
                    <h4 class="receita-nome">Ingredientes</h4>
                    <p><i class="fa-solid fa-circle fa-2xs" style="color: #184e04;"></i>160g de chocolate meio amargo ou amargo <br>
                        <i class="fa-solid fa-circle fa-2xs" style="color: #184e04;"></i>2 potes de iogurte natural <br>
                        <i class="fa-solid fa-circle fa-2xs" style="color: #184e04;"></i>1 xícara de leite em pó (100g) integral ou desnatado</p>
                </div>
            </div>
                <div class="modo-preparo">
                    <h4>Modo de preparo</h4>
                    <p><span>1-</span> Derreta o chocolate no micro-ondas ou em banho maria - 
                        no micro-ondas basta quebrar em pedacinhos e levar a cada 20 segundos, 
                        até derreter completamente, <br>sempre misturando bem para ele derreter e não 
                        queimar. Junte com 4 colheres do creme de leite, misture bem e reserve.</p>
                    <p><span>2-</span> Hidrate a gelatina sem sabor como manda as instruções da embalagem - basta misturar com 
                        5 colheres de sopa de água, reservar por 3 minutos e depois levar ao <br>micro-ondas por 
                        30 segundos.</p>
                    <p><span>3-</span> Dentro do liquidificador junte o leite, o restante do creme de leite, e gelatina 
                        hidratada e o chocolate derretido. Bata bem até ficar bem homogêneo. 
                        <br>Junte o cacau e se desejar adoçante ou açúcar demerara. bata novamente.</p>
                </div>
            
        </section>

        <div class="beneficio-receitas">
            <h4>Benéficios</h4>
            <div class="informacao">
                <img src="/img/n1.png" alt="">
                <img src="/img/n2.png" alt="">
                <img src="/img/n3.png" alt="">
            </div>
            <img src="/img/tabela.png" alt="" class="img-tabela">
        </div>

        <footer class="rodape">
            <h4 class="rodape-titulo">Entre nas nossas redes sociais</h4>
            <div class="icones">
                <p><a href="#"><i class="fa-brands fa-twitter fa-2xl" style="color: #153f03;"></i></a></p>
                <p><a href="#"><i class="fa-brands fa-linkedin fa-2xl" style="color: #153f03;"></i></a></p>
                <p><a href="#"><i class="fa-brands fa-github fa-2xl" style="color: #153f03;"></i></a></p>
                <p><a href="#"><i class="fa-brands fa-instagram fa-2xl" style="color: #153f03;"></i></a></p>
            </div>
         </footer>


        <script src="https://kit.fontawesome.com/d00c321405.js" crossorigin="anonymous"></script>
        <script src="/js/home.js" defer></script>